html { height: 100%; width: 100%; }
body {
  width: 100%; height: 100%; 
  margin: 0; padding: 0; border: 0;
  font-family: "tlightregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px; line-height: 15px;
  background: whitesmoke;
}
img { border: none; }
a { color: #8D0D19; }
a:hover { color: #1A446C; }
select{
	width: 200px;
}

.combos1 {
    float: left;
    width: 500px;
    height: 300px;
}

#header { 
	height: 40px;
	margin: 10px; padding: 5px; text-align: center;
  	background: #e0cdf4; color: black;
	border-radius: 15px;
}
#header h1 { padding: 1em; margin: 0; }
#main { 
	height: 500px; width: 100%;
	margin: 0; padding: 0; 
	background: whitesmoke;
}

#caplanweb{
	color:#595859;
	text-underline: none;
}

#footer { 
	clear: both;
	height: 2em; margin: 1em;
	text-align: center;
	border-radius: 10px;
  background: #333;  color: whitesmoke;
}

/* Navigation */
#navigation { 
	float: left;
	width: 150px; height: 80%;
	margin: 50px 15px; padding: 0 2em;
	color: #D4E6F4; background: #57a708;
	border-radius: 10px;
}
#navigation a { color: #D4E6F4; text-decoration: none; }
#navigation a:hover { color: #FFFFFF; }
ul.subjects { 
	margin: 1em 0; padding-left: 0; list-style: none;
}
ul.pages { padding-left: 2em; list-style: square; font-weight: normal; }
.selected { font-weight: bold; }

/* Page Content */
#page { 
	float: left; height: 100%;
	padding-left: 2em; vertical-align: top; 
	background: whitesmoke;
}
#page h2 { color: #49166d; margin-top: 1em;}
#page h3 {color: #8D0D19;}
.view-content {
	margin: 1em; padding: 1em; border: 1px solid #999;
}

div.message { 
	border: 2px solid #8D0D19;
	color: #8D0D19; font-weight: bold;
	margin: 1em 0 ; padding: 1em; 
}

.responstable {
	margin: 1em 0;
	width: 130%;
	overflow: hidden;
	background: #FFF;
	color: #024457;
	border-radius: 10px;
	border: 1px solid #167F92;
}

/* errors */
.error {
	color: #8D0D19; border: 2px solid #8D0D19;
	margin: 1em 0; padding: 1em;
}
.error ul { padding-left: 2em; }

